*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    background-image: url("../images/background.png");
    font-family: 'Ubuntu', sans-serif;
    text-align: center 
}

#homepage-categories-top,
#homepage-categories-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

.button:hover {
    background-color: #14CC8A
}

#homepage-categories {
    background-color: #ffffff;
    border: 0;
}

#navbar-title {
    font-family: 'Baloo', cursive;
    color: #14CC8A;
    font-size: 40px
}

#jumbotron-title {
    font-family: 'Baloo', cursive;
    color: #14CC8A;
    font-size: 90px
}

#jumbotron-profile {
    align: left
}

.jumbotron {
    padding: 40px;
    padding-bottom: 8px;
}

hr {
    border-color: #fff;
    border-top: 2px dashed #ff7a01;
}

#jumbotron-subtitle {
    letter-spacing: 2px
}

a {
	color: #cecfca;
}

a:hover {
    text-decoration: none;
    color: #14CC8A
}

.card-header {
    color: #14cc8a;
    font-family: 'Baloo', cursive;
    /* letter-spacing: 3px */
}

.category-card {
    padding: 10px
}

.profile-user-card {
    padding: 10px;
}

#categories-category-h1,
#profile-items-own-h1,
#profile-items-borrowing-h1 {
    color: #14cc8a;
    font-family: 'Baloo', cursive;
    text-align: left;
    /* letter-spacing: 3px */
}

#categories-card-title,
#profile-card-title {
    padding-top: 30px
}

#categories-card-text,
#profile-card-text {
    text-align: left
}

.categories-card-image,
.profile-card-user-image {
    margin: auto;
    height: 175px;
    padding-bottom: 6px
}

.form-control:focus {
    border-color: #14cc8a;
    box-shadow: inset 0 1px 1px rgba(0, 0.075, 0.075, 0), 0 0 8px #14cc8a (255, 0, 0, 0.6);
}

.create-profile-form {
    margin: 20px;
    text-align: left
}

#email-comment {
    text-align: center
}

.btn {
    background-color: #14cc8a;
    font-family: 'Baloo', cursive;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px
}

#footer {
    color: #cecfca;
    padding-top: 20px
}

/* ===================================================== */
/* begin button animation code */

.button {
    font-family: 'Baloo', cursive;
    background-color: #14cc8a;

    display: inline-block;
    position: relative;
    padding: 0.67em;
    border: 10px;
    padding: 30px;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: #FFF;
}

.button span {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 2.15em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/* end button animation code */
/* ========================================================= */